.layout {
  display: flex;
  align-items: stretch;
  min-height: 0;
  flex: 1 1 auto;
}

@media (min-width: 1201px) {
  .layout {
    height: calc(100dvh - 50px);
  }
  .layout > :last-child {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

@media (max-width: 1200px) {
  .layout {
    display: block;
  }
}
